<admin-header></admin-header>
<h1>ADD NEW USER</h1>
<div class="box">
    <mat-form-field class="example-full-width">
        <input matInput type="text" placeholder="NAME">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput type="email" placeholder="EMAIL">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput type="email" placeholder="ADDRESS">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput type="email" placeholder="USERNAME">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput type="email" placeholder="PASSWORD">
    </mat-form-field>
    <mat-form-field class="example-full-width">
            <input matInput type="email" placeholder="TRANSFORMER">
        </mat-form-field>
    <button class="example-full-width" mat-button>ADD USER</button>
</div>