<user-header></user-header>



<h1>USER DETAILS</h1>
 

<div class="main">  
     <div class="field">
        <div class="tag">NAME:</div>
        <div class="value">{{user.name}}</div>
    </div>
    <div class="field">
        <div class="tag">PHONE NO: </div>
        <div class="value">{{user.phoneno}}</div>
    </div>
    <div class="field">
        <div class="tag">ADDRESS: </div>
        <div class="value"> {{user.address}}</div>
    </div>
    <div class="field">
        <div class="tag">PINCODE: </div>
        <div class="value">{{user.pincode}} </div>
    </div>
    <div class="field">
        <div class="tag">EMAIL: </div>
        <div class="value"> {{user.email}} </div> 
    </div> 
</div>