.box{
    display: flex;
    flex-flow: column;
    position: relative;
    justify-content: center;
    width: 100%;
    /* background-color: red; */
}
.item{
width: 100%;
}
.checkbox{
    display: flex;
    flex-flow: column
}

.button{
    background-color: rgb(4, 28, 80);
    color: rgb(255, 218, 6)
}
.example-button-row button,
.example-button-row a {
  margin-right: 3900px;
}